/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variable */

:root {
    --navbar-height: 59px;

}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .5;
}

/* Navigation Bar: Logo and Image */
/* #navbar {
    position: relative;
} */

#fooflogo {
    margin: 20px 25px;

}

#foodlogo img {
    height: 20px;
    margin: 20px 25px;
    top: 5px;
}

#navbar ul {
    display: flex;
    font-size: 1.3rem;
    font-family: "Trirong", serif;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 725px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../background.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .90;
}

#home h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'bree serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'bree serif', serif;
}


/* service section */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 25px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 50px;
    margin-bottom: 20px;
}

#services .box img {
    height: 170px;
    margin: auto;
    display: block;
}

#services .box p {
    margin: 10px;
    padding: 5px;
    font-family: 'Bree Serif', serif;

}

/* client section */

#client-section {
    height: 344px;
    position: relative;
}
#client-section::before {
    content: "";
    position: absolute;
    background: url(../pizza\ bg.jpg);
    width: 100%;
    height: 75%;
    z-index: -1;
    opacity: .4;

}

.client-item {
    padding: 34px;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact section */

#contact{
    position: relative;
    /* padding: 0px; */
}
#contact::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}

/* footer */

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin-top: 20px;
}

#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility calsses*/
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-seconday {
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 28px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 17px;
    cursor: pointer;
}

.center {
    text-align: center;
}